<%= form_for @create_report, @action, [multipart: true, as: :report, class: "form"], fn f -> %>
  <%= label f, :title, class: "form__label" %>
  <%= text_input f, :title, class: "form__input" %>
  <%= error_tag f, :title %>

  <%= label f, :csv, class: "form__label form__label--uppercase" %>
  <%= file_input f, :csv %>
  <%= error_tag f, :csv %>

  <div>
    <%= submit "Create", class: "button button__primary" %>
  </div>
<% end %>
