<table class="table-report">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%= for report <- @reports do %>
      <tr>
        <td><%= report.id %></td>
        <td><%= report.title %></td>
        <td><%= report_status(report) %></td>
        <td>Show</td>
      </tr>
    <% end %>
  </tbody>
</table>
