<section class="report-list">
  <div class="report-list__header">
    <%= render "_upload-report-form.html", Map.put(assigns, :action, Routes.report_path(@conn, :create)) %>
  </div>
  <%= render "_report-table.html", reports: @reports, conn: @conn %>
</section>
