<section class="reports-index">
  <div class="reports-index__header">
    <%= render "_upload-report-form.html", Map.put(assigns, :action, Routes.report_path(@conn, :create)) %>
  </div>
  <%= render "_report-table.html", reports: @reports, conn: @conn %>
</section>
