.table-report {
  $self: table;

  @apply block px-16 min-w-full;

  .#{ $self }__header,
  .#{ $self }__body {
    @apply block w-full;
  }

  .#{ $self }__column,
  .#{ $self }__item {
    &--id {
      flex-basis: 10%;
    }

    &--report-title {
      @apply flex-grow;
    }

    &--status {
      flex-basis: 15%;
    }

    &--created-at {
      flex-basis: 25%
    }

    &--cta {
      flex-basis: 10%;
    }
  }

  .#{ $self }__column {
    &--cta {
      @apply invisible;
    }
  }

  .#{ $self }__item {
    &--cta {
      @apply justify-end;
    }
  }
}
