.table-search-result-url {
  $self: table;

  @apply mx-0 min-w-full;

  .#{ $self }__column,
  .#{ $self }__item {
    &--index {
      flex-basis: 5%;
    }

    &--title,
    &--advertiser-url {
      overflow: hidden;
      white-space: nowrap;
    }

    &--title {
      flex-basis: 40%;
    }

    &--advertiser-url {
      flex-basis: 45%;
    }

    &--cta {
      flex-basis: 10%;
    }
  }

  .#{ $self }__column {
    &--cta {
      @apply invisible;
    }
  }

  .#{ $self }__item {
    &--title,
    &--advertiser-url {
      .table__text {
        @apply w-full mr-8 overflow-x-hidden overflow-ellipsis;
      }
    }

    &--cta {
      @apply justify-end;
    }
  }

  .#{ $self }__title {
    @apply text-sm text-indigo-600 font-semibold;
  }

  .#{ $self }__body .#{ $self }__row {
    @apply border-b;
  }
}
