.table-search-result {
  $self: table;

  @apply mx-0 min-w-full;

  .#{ $self }__column {
    &--index {
      flex-basis: 4%;
    }

    &--keyword {
      flex-basis: 20%;
    }

    &--status {
      flex-basis: 13%;
    }

    &--top-advertiser-count {
      flex-basis: 12%;
    }

    &--other-advertiser-count {
      flex-basis: 12%;
    }

    &--page-results {
      flex-basis: 12%;
    }

    &--total-page-results {
      flex-basis: 14%;
    }

    &--cta {
      @apply invisible;

      flex-basis: 13%;
    }
  }

  .#{ $self }__item {
    &--index {
      flex-basis: 4%;
    }

    &--keyword {
      flex-basis: 20%;
    }

    &--status {
      flex-basis: 13%;
    }

    &--top-advertiser-count {
      flex-basis: 12%;
    }

    &--other-advertiser-count {
      flex-basis: 12%;
    }

    &--page-results {
      flex-basis: 12%;
    }

    &--total-page-results {
      flex-basis: 14%;
    }

    &--cta {
      @apply justify-end;

      flex-basis: 13%;

      .button__secondary {
        @apply ml-2;
      }
    }
  }

  .#{ $self }__title {
    @apply pr-8 text-sm text-indigo-600 font-semibold;
  }

  .#{ $self }__column--index {
    .#{ $self }__title {
      @apply pr-0;
    }
  }

  .#{ $self }__body .#{ $self }__row {
    @apply border-b;
  }
}
