.upload-report {
  @apply flex flex-col;
}

.upload-report .form-report {
  @apply opacity-0;

  height: 0;
  transition: height 0.2s ease, opacity 0.5s ease;

  &.show {
    @apply opacity-100;

    height: 225px;
  }

  &__label {
    @apply block text-gray-700 text-sm font-bold mb-2;

    &--uppercase {
      @apply uppercase;
    }

    &--error {
      @apply inline-block text-red-600 font-normal;
    }
  }

  &__button {
    @apply w-min ml-auto;
  }

  &__input {
    @apply block appearance-none w-full py-3 px-4 mb-3 leading-tight text-gray-700 bg-gray-50 focus:bg-white border border-gray-200 focus:border-gray-500 rounded focus:outline-none;
  }

  &__action {
    @apply mt-6;
  }
}
