<section class="lead-content">
  <h2 class="lead-content__title">No business can sell what is already made</h2>
  <p class="lead-content__tagline">Competition, Marketing, SEO. G-SearcherⓇ is here to change the way you see your competition. That's us - all the information you need, at your fingertips</p>
  <%= link "", to: Routes.authentication_path(@conn, :request, "google"), class: "lead-content__sign-in" %>
</section>
