<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GSearcher</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body class="<%= class_name(@conn) %>">
    <header class="app-header">
      <nav class="app-header__navigation" role="navigation">
        <div class="app-header__logo"><a class="app-header__logo-text" href="/">G Searcher</a></div>
        <div class="app-header__navigation-pane">
          <%= if @conn.assigns.user_signed_in? do %>
            <%= link "Dashboard", to: Routes.dashboard_path(@conn, :index), class: "app-header__navigation-link" %>
            <%= link "Sign Out", to: Routes.authentication_path(@conn, :sign_out), method: :delete, class: "app-header__navigation-link" %>
          <% else %>
            <%= link "Sign In", to: Routes.authentication_path(@conn, :request, "google"), class: "app-header__navigation-link" %>
          <% end %>
        </div>
      </nav>
    </header>
    <main class="app-content" role="main">
      <%= render GSearcherWeb.SharedView, "_flash.html", conn: @conn %>

      <%= @inner_content %>
    </main>
  </body>
</html>
